<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                @if (Document.ContainsKey("Canonical"))
                {
                    <p class="text-center small text-muted">Originally published at <a
                            href="@Document.GetString("Canonical")">@Document.GetString("Canonical")</a>.</p>
                    <br />
                }
                <p class="copyright text-muted m-0">@Document.GetString(WebKeys.Copyright) <a
                        href="https://valticus.netlify.app/">Valticus</a>. All Rights Reserved.</p>
                <br />
                <ul class="list-inline text-center small">
                    <li class="list-inline-item"><i class="fab fa-twitter-square"></i>&nbsp;<a title="Valticus on Twitter"
                    href="https://twitter.com/valticus81"  class=" align_left">Twitter</a>
                    </li>
                    <li class="list-inline-item"><i class="fab fa-medium"></i>&nbsp;<a title="Valticus on Medium" href="https://valticus81.medium.com/" class=" align_left">Medium</a>
                    </li>
                </ul>
                <br />
                <ul class="list-inline text-center small">
                    @{
                        IDocument rssFeed = Outputs["**/*.rss"].FirstOrDefault();
                        IDocument atomFeed = Outputs["**/*.atom"].FirstOrDefault();
                    }
                    @if (rssFeed != null)
                    {
                        <li class="list-inline-item">
                            <a href="@Context.GetLink(rssFeed)"><i class="fa fa-rss"></i> RSS Feed</a>
                        </li>
                    }
                    @if (atomFeed != null)
                    {
                        <li class="list-inline-item">
                            <a href="@Context.GetLink(atomFeed)"><i class="fa fa-rss"></i> Atom Feed</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</footer>
